In [74]:
#Imports
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import re

# Movie Metadata Dataset One

In [75]:
movie_metadata = 'movie_metadata.csv'
movie_metadata_df = pd.read_csv(movie_metadata)
list_of_column_names = list(movie_metadata_df.columns)
 
# displaying the list of column names
print('List of column names : ',
      list_of_column_names)

List of column names :  ['color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

Remove columns that are not important

In [76]:
drop_columns = ['color', 'num_voted_users', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link']
movie_metadata_df.drop(drop_columns, axis=1, inplace=True)
list_of_column_names = list(movie_metadata_df.columns)
print('List of column names : ',
      list_of_column_names)

List of column names :  ['director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'movie_title', 'cast_total_facebook_likes', 'actor_3_name', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

# Rename Columns

In [77]:
movie_metadata_df = movie_metadata_df.rename(columns = {
    'director_name' : 'Director Name',
    'num_critic_for_reviews' : 'Critic Review Total',
    'duration' : 'Duration',
    'director_facebook_likes' : 'Director Facebook Likes',
    'actor_3_facebook_likes' : 'Actor 3 Facebook Likes',
    'actor_2_name' : 'Actor 2',
    'actor_1_facebook_likes' : 'Actor 1 Facebook Likes',
    'genres' : 'Genres',
    'actor_1_name' : 'Actor 1',
    'movie_title' : 'Movie Title',
    'cast_total_facebook_likes' : 'Total Facebook Likes',
    'actor_3_name' : 'Actor 3',
    'num_user_for_reviews' : 'Total User Reviews', 
    'language' : 'Language',
    'country' : 'Country',
    'content_rating' : 'Content Rating', 
    'budget' : 'Budget',
    'title_year' : 'Release Year',
    'actor_2_facebook_likes' : 'Actor 2 Facebook Likes',
    'imdb_score' : 'IMDB Score',
    'aspect_ratio' : 'Aspect Ratio',
    'movie_facebook_likes' : 'Movie Facebook Likes'
})
list_of_column_names = list(movie_metadata_df.columns)
print('List of column names : ',
      list_of_column_names)
# remove trailing and leading spaces
movie_metadata_df['Movie Title'] = movie_metadata_df['Movie Title'].str.strip()
movie_metadata_df['Movie Title'].head()

List of column names :  ['Director Name', 'Critic Review Total', 'Duration', 'Director Facebook Likes', 'Actor 3 Facebook Likes', 'Actor 2', 'Actor 1 Facebook Likes', 'gross', 'Genres', 'Actor 1', 'Movie Title', 'Total Facebook Likes', 'Actor 3', 'Total User Reviews', 'Language', 'Country', 'Content Rating', 'Budget', 'Release Year', 'Actor 2 Facebook Likes', 'IMDB Score', 'Aspect Ratio', 'Movie Facebook Likes']

0                                        Avatar
1      Pirates of the Caribbean: At World's End
2                                       Spectre
3                         The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens
Name: Movie Title, dtype: object

# Highest Holywood Grossing Movies Dataset 2

In [78]:
top_grossing_movies = 'Highest Holywood Grossing Movies.csv'
movie_gross_df = pd.read_csv(top_grossing_movies)
list_of_column_names = list(movie_gross_df.columns)
 
# displaying the list of column names
print('List of column names : ',
      list_of_column_names)

List of column names :  ['Unnamed: 0', 'Title', 'Movie Info', 'Distributor', 'Release Date', 'Domestic Sales (in $)', 'International Sales (in $)', 'World Sales (in $)', 'Genre', 'Movie Runtime', 'License']

Remove columns that are not important

In [79]:
drop_columns = ['Unnamed: 0', 'Movie Info', 'Release Date', 'Genre', 'Movie Runtime', 'License']
movie_gross_df.drop(drop_columns, axis=1, inplace=True)
movie_gross_df = movie_gross_df.rename(columns = {
    'Title' : 'Movie Title',
})
list_of_column_names = list(movie_gross_df.columns)
print('List of column names : ',
      list_of_column_names)

List of column names :  ['Movie Title', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'World Sales (in $)']

In [80]:
# remove year from the movie title
movie_gross_df['Movie Title'] = movie_gross_df['Movie Title'].str.replace(r'\(.*\)','',regex=True)
# remove trailing and leading spaces
movie_gross_df['Movie Title'] = movie_gross_df['Movie Title'].str.strip()
movie_gross_df.head(3)

,Movie Title,Distributor,Domestic Sales (in $),International Sales (in $),World Sales (in $)
0,Star Wars: Episode VII - The Force Awakens,Walt Disney Studios Motion Pictures,936662225,1132859475,2069521700
1,Avengers: Endgame,Walt Disney Studios Motion Pictures,858373000,1939128328,2797501328
2,Avatar,Twentieth Century Fox,760507625,2086738578,2847246203

In [81]:
mergedMovieDataset = pd.merge(movie_metadata_df, movie_gross_df, how='left')
mergedMovieDataset.head()

,Director Name,Critic Review Total,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,gross,Genres,Actor 1,...,Budget,Release Year,Actor 2 Facebook Likes,IMDB Score,Aspect Ratio,Movie Facebook Likes,Distributor,Domestic Sales (in $),International Sales (in $),World Sales (in $)
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,237000000.0,2009.0,936.0,7.9,1.78,33000,Twentieth Century Fox,760507625.0,2.086739e+09,2.847246e+09
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,300000000.0,2007.0,5000.0,7.1,2.35,0,Walt Disney Studios Motion Pictures,309420425.0,6.515761e+08,9.609965e+08
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,245000000.0,2015.0,393.0,6.8,2.35,85000,Sony Pictures Entertainment (SPE),200074609.0,6.806069e+08,8.806815e+08
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,250000000.0,2012.0,23000.0,8.5,2.35,164000,Warner Bros.,448139099.0,6.330035e+08,1.081143e+09
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,12.0,7.1,NaN,0,Walt Disney Studios Motion Pictures,936662225.0,1.132859e+09,2.069522e+09

In [83]:
list_of_column_names = list(mergedMovieDataset.columns)
print('List of column names : ',
      list_of_column_names)

List of column names :  ['Director Name', 'Critic Review Total', 'Duration', 'Director Facebook Likes', 'Actor 3 Facebook Likes', 'Actor 2', 'Actor 1 Facebook Likes', 'gross', 'Genres', 'Actor 1', 'Movie Title', 'Total Facebook Likes', 'Actor 3', 'Total User Reviews', 'Language', 'Country', 'Content Rating', 'Budget', 'Release Year', 'Actor 2 Facebook Likes', 'IMDB Score', 'Aspect Ratio', 'Movie Facebook Likes', 'Distributor', 'Domestic Sales (in $)', 'International Sales (in $)', 'World Sales (in $)']

In [49]:
count = 0
for item in mergedMovieDataset['Genres']:
    splitCount = len(item.split('|'))
    if(splitCount > count):
        count = splitCount
print(count)

8

In [50]:
#Split the genre into seperate columns
mergedMovieDataset[['Genre 1', 'Genre 2', 'Genre 3', 'Genre 4',
             'Genre 5', 'Genre 6', 'Genre 7', 'Genre 8']] = mergedMovieDataset.Genres.str.split("|",expand=True) 
mergedMovieDataset.head()

,Director Name,Critic Review Total,Duration,Director Facebook Likes,Actor 3 Facebook Likes,Actor 2,Actor 1 Facebook Likes,gross,Genres,Actor 1,...,International Sales (in $),World Sales (in $),Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6,Genre 7,Genre 8
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,NaN,NaN,Action,Adventure,Fantasy,Sci-Fi,None,None,None,None
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,NaN,NaN,Action,Adventure,Fantasy,None,None,None,None,None
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,NaN,NaN,Action,Adventure,Thriller,None,None,None,None,None
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,NaN,NaN,Action,Thriller,None,None,None,None,None,None
4,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,Documentary,None,None,None,None,None,None,None

In [89]:
# output the result in xlsx
mergedMovieDataset.to_excel("finalMovieDataset.xlsx", index = False);